@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes smash-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
}

@layer utilities {
  .animate-smash-shake {
    animation: smash-shake 200ms ease-in-out;
  }
}
